{% extends 'main/base.html' %}
{% block content %}

<div class="general">

    <div id="newService">
        <h2>Nuevo servicio</h2>
        <a href="/newService">Entrar</a>
    </div>
    <div id="remissionHistory">
        <h2>Historial de remisiones</h2>
        <a href="/remissionHistory">Entrar</a>
    </div>
    <div id="customerHistory">
        <h2>Historial de cliente</h2>
        <a href="/customerHistory">Entrar</a>
    </div>
    <div id="techniciansHistory">
        <h2>Historial de ténico</h2>
        <a href="/techniciansHistory">Entrar</a>
    </div>
</div>

{% endblock %}
