{% extends 'main/base.html' %}
{% block content %}

<h2>Lista de técnicos</h2>

<div>
    <form action="/customerList" method="get" id="searchform">
        <input name="q" type="text" placeholder="Buscar aquí sus técnicos" value="{{query}}" required>
        <button type="submit">Buscar</button>
    </form>
</div>
{% if info %}
    <table>
            <tr>
              <th>CC o NIT</th>
              <th>Nombre</th>
              <th>Télefono</th>
              <th>Direeción</th>
            </tr>
            {% for a in info %}
            <tr>
                <td>{{a.id_person}}</td>
                <td>{{a.name}}</td>
                <td>{{a.phone}}</td>
                <td>{{a.address}}</td>
                <td><a href="/technician/{{a.id_person}}">Editar</a></td>
                <td><a id="{{a.IDD}}"  onclick="sure(this.id)" name="3" href="/">Eliminar</a></td>
            </tr>
            {% endfor %}
    </table>
{% endif %}
{% endblock %}

IDD = models.AutoField(primary_key=True)
id_person = models.CharField(max_length=200,unique=True)
name = models.CharField(max_length=200)
phone = models.CharField(max_length=200)
address =  models.CharField(max_length=200,default=' ')